---
database:
  host: "mysql.example.com"
  user: "stepca_inspector"
  password: "secret"
  database: "stepca"
  ssl: true
  ssl_verify_cert: true
  ssl_ca: "/app/root-ca.crt"
  reconnect: true
  pool_size: 5
metrics_cert_expired_max_days: 30
