---
database:
  host: "mysql.example.com"
  user: "stepca_inspector"
  password: "secret"
  database: "stepca"
  ssl: true
  ssl_verify_cert: true
  ssl_ca: "/app/root-ca.crt"
  reconnect: true
  pool_size: 5
metrics_cert_expired_max_days: 30
webhook_config:
- id: "<webhook_id>":
  secret: "<webhook_secret>"
  plugin:
    #name: "scep_static"
    #challenges:
    #- secret: "<challenge>":
    #  allowed_dns_names:
    #  - "host.example.com"
    #  - "*.example.com"
    #  allowed_email_addresses: []
    #  allowed_ip_addresses: []
    name: hashicorp_vault
    hvac_connection:
      url: https://vault.example.com
      verify: "/app/root-ca.crt"
    #hvac_auth_method: token
    #hvac_token: "<token>"
    hvac_auth_method: approle
    hvac_role_id: "<approle_id>"
    hvac_secret_id: "<approle_secret>"
    hvac_engine: <engine>
    hvac_secret_path: "%s/scep"
    #hvac_challenge_key: "challenge"
    #hvac_allowed_dns_names_key: "allowed_dns_names"
    #hvac_allowed_email_addresses_key: "allowed_email_addresses"
- id: "<webhook_id>"
  secret: "<webhook_secret>"
  plugin:
    name: "yubikey_embedded_attestation"
    yubikey_attestation_root: /app/yubico-piv-ca-1.pem
    yubikey_allowed_serials:
    - <yubikey_sn>
    #yubikey_pin_policies:
    #  never: true
    #  once: true
    #  always: true
    #yubikey_touch_policies:
    #  never: true
    #  always: true
    #  cached: true
